name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Verificação de nome e escopo
      id: verificacao-de-nome-e-escopo
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Verificação de nome e escopo
        setup-command: npm install
        command: node variaveis.js
        timeout: 1
        max-score: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        VERIFICACAO-DE-NOME-E-ESCOPO_RESULTS: "${{steps.verificacao-de-nome-e-escopo.outputs.result}}"
      with:
        runners: verificacao-de-nome-e-escopo
